/************************************************************************************
    BODY
************************************************************************************/

body {
    overflow-y: scroll;
}

/************************************************************************************
    BLOCKS
************************************************************************************/

.panel ul {
    padding-left: 15px;
}

/************************************************************************************
    TOP-BAR
************************************************************************************/

.top-bar {
    margin: 0 0 30px 0;
}

/************************************************************************************
    MESSAGES
************************************************************************************/

.alert-box ul {
    list-style-type: none;
    margin-bottom: 0;
}

/************************************************************************************
    FORMS
************************************************************************************/

form ul {
    list-style-type: none;
    color: red;
}
input.input-error, textarea.input-error {
    border: thin solid red;
}

form label span.custom {
    margin-right: 5px;
}

/************************************************************************************
    SONG
************************************************************************************/

.song-album-art {
    max-width: 300px;
}

/************************************************************************************
    AJAX
************************************************************************************/

#load-gif
{
    position: relative;
    left: 50%;
}